# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GItHub\DAK30--Python-and-data-analyst-for-newbie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
